/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url("font-awesome.min.css");
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/bits/_typography.scss */
html {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

/* line 9, ../sass/bits/_typography.scss */
body {
  /* background-color: #232222; */
  background-color: #232222;
  padding: 0.5%;
}

/* line 16, ../sass/bits/_typography.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/bits/_typography.scss */
h1 {
  font-weight: 500;
  font-weight: 500;
  font-size: 3em;
}

/* line 32, ../sass/bits/_typography.scss */
h4 {
  margin-top: 1%;
  font-size: 1.3em;
}

/* line 39, ../sass/bits/_typography.scss */
.hidden {
  opacity: 0;
}

/* line 45, ../sass/bits/_typography.scss */
.visible {
  opacity: 1;
}

/* line 1, ../sass/partials/_layout.scss */
.q-nav {
  width: 100%;
  text-align: left;
}
/* line 7, ../sass/partials/_layout.scss */
.q-nav header {
/*  padding: 1%;*/
    margin-top:10px;
    margin-left:60px;
}
/* line 11, ../sass/partials/_layout.scss */
.q-nav header h1, .q-nav header h4 {
  color: #c4c2c2;
  font-family: 'Satisfy', cursive;
}
/* line 17, ../sass/partials/_layout.scss */
.q-nav header h4 a {
  color: #3A773B;
  text-decoration: none;
}
/* line 22, ../sass/partials/_layout.scss */
.q-nav header h4 a:hover {
  color: #c4c2c2;
    
}
/*
h4.email {
    font:fantasy !important;
    color:#C4C2C2;
}
*/

h4.email a {
    font-family: fantasy !important;
    color: #969696 !important;
    font-size: 20px;
}

/* line 34, ../sass/partials/_layout.scss */
footer {
  padding: 1%;
}
/* line 40, ../sass/partials/_layout.scss */
footer article .social {
  text-align: center;
}
/* line 44, ../sass/partials/_layout.scss */
footer article .social li {
  display: inline-block;
  padding: 1%;
}
/* line 50, ../sass/partials/_layout.scss */
footer article .social li a {
  font-size: 3em;
  text-decoration: none;
  color: #706b6b;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}
/* line 65, ../sass/partials/_layout.scss */
footer #copyright {
  text-align: center;
  margin: 1%;
}
/* line 70, ../sass/partials/_layout.scss */
footer #copyright li {
  color: #706b6b;
  font-size: 10px;
}

/* line 87, ../sass/partials/_layout.scss */
.fa-facebook-square:hover {
  color: #3C5A98;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 87, ../sass/partials/_layout.scss */
.fa-linkedin-square:hover {
  color: #006599;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 87, ../sass/partials/_layout.scss */
.fa-google-plus-square:hover {
  color: #DA2713;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 87, ../sass/partials/_layout.scss */
.fa-github-square:hover {
  color: #4078C0;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 98, ../sass/partials/_layout.scss */
.grid {
  background: #232222;
  width: 100%;
  /* ---- grid-item ---- */
}
/* line 106, ../sass/partials/_layout.scss */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* line 116, ../sass/partials/_layout.scss */
.grid .grid-sizer,
.grid .grid-item {
  width: 33.3%;
    padding:4%;

}
.fancybox-image {
    border-color: white !important;
}
.fancybox-skin {
    background-color: transparent !important;
}
.grid .grid-item.width2 {
    /*width: 48%;*/
    width: 66.6%;
    padding:4%;
    /*width: 80%;*/
    /*margin: 0 10%;*/
}
img {
/*  border: 15px solid #555 !important;*/
    border: 15px solid #424242 !important; 
    border-radius: 10px;
}
.grid .grid-item.width4 {
    width: 48%;
/*    width: 66.6%;*/
    /*width: 80%;*/
    /*margin: 0 10%;*/
}
.grid .grid-item.width3 {
    width: 99%;
}
@media (max-width: 900px) {
  /* line 116, ../sass/partials/_layout.scss */
  .grid .grid-sizer,
  .grid .grid-item.width2,.grid .grid-item.width3, .grid .grid-item {
    width: 49.2%;
      
  }
}
@media (max-width: 600px) {
  /* line 116, ../sass/partials/_layout.scss */
  .grid .grid-sizer,
  .grid .grid-item.width2,.grid .grid-item.width3, .grid .grid-item {
    width: 100%;
  }
}
/* line 131, ../sass/partials/_layout.scss */
.grid .grid-item, .grid .grid-item.width2,.grid .grid-item.width3 {
  height: auto;
  float: left;
  background: #232222;
  border: 12px solid #232222;
}
/* line 142, ../sass/partials/_layout.scss */
.grid .grid-item img,.grid .grid-item.width2 img,.grid .grid-item.width3 img {
  width: 100%;
  display: block;
}
/* line 149, ../sass/partials/_layout.scss */
.grid .grid-item:hover {
  /*border-color: #FFFFFF;*/
    cursor: pointer;
}

@media (max-width: 900px) {
  /* line 32, ../sass/bits/_typography.scss */
  /* line 159, ../sass/partials/_layout.scss */
  .grid-sizer, .grid-item, .grid-item.width2, .grid-item.width3 {
    width: 50%;
  }
}
@media (max-width: 600px) {
  /* line 32, ../sass/bits/_typography.scss */
  /* line 165, ../sass/partials/_layout.scss */
  .grid-sizer, .grid-item, .grid-item.width2,.grid-item.width3 {
    width: 100%;
  }
}
